<div class="jumbotron">
  <h1>The Pottery</h1>
</div>
<div class="row">

  <div class="col-md-4">
    <p class="text-center img">
      <img id="img" src="{{article.image}}">
    </p>
    <p id="content">{{article.summary}} </p>
  </div>

</div>