<div class="jumbotron">
  <h1>The Pottery</h1>
  <p><strong></p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>

{{#grouped_each 3 data}}
<div class="row">
  {{#each this }}
  <div class="col-md-4">
      <a href="/articles/{{ id }}"><img  src="{{ image }}" class="img-responsive"></a>
      <p id="one"> {{ summary }}</p>
  </div>
  {{/each}}
</div>
{{/grouped_each}}