<h2>Login</h2>

<p>{{ flash }}</p>
<form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input name="username" type="name" class="form-control" id="exampleInputName1" placeholder="Full Name">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-inverse btn-lg">Login</button>
  <div class="form-group">
      <br>
     <a href="/register"><label>Sign Up</label></a>
  </div>
</form>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TODO</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Upon submission of the form, store the user information in memory (to simulate signing up / logging in)</li>
      <li>Consider either of the following two approaches: https://www.npmjs.com/package/express-users or http://passportjs.org</li>
      <li>Once in memory use this information to display it on /dashboard view</li>
    </ul>
  </div>
</div>