body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/* Navigation style */

.navbar-inverse {
	background-image: linear-gradient(to bottom, #D9260F 0, #B81208 100%);
	border-color: #666666;
}

.navbar-inverse .navbar-brand {
	color: yellow !important;
}

.navbar-inverse .navbar-brand:hover {
	color: orange;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

/* Utilities */

.padding {
  padding-top: 12px;
}

 .col-md-3 {
  padding-top: 20px;
  border: solid 1px #e0e0e0;
  width: 100%;
  margin-bottom: 30px;
  margin-right: 5px;
  display: block;
}
 .img img{
  padding-top: 10px;
  max-height: 200px;
  max-width: 300px;
}

.row .img img{
  padding-top: 10px;
  max-height: 400px;
  max-width: 600px;
}

.col-md-4 img{
  padding-top: 10px;
  max-height: 400px;
  max-width: 600px;
}